---
import {Content as Homepage} from '../components/Homepage.md';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PostList from '../components/PostList.astro';
import { Image } from 'astro:assets';
import Jonny from '../assets/jonny.png';

const title = "Jonny Burch"
const subtitle = "A person"
const description = "Personal website."
const allPosts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;});
---

<Layout title={`${title} — ${subtitle}`} description={description}>
	<main class="pt-8">
		<div class="crazy flex pb-8 flex-wrap">
			<Image src={Jonny} alt="J" class="w-1/5 max-w-36" />
			<Image src={Jonny} alt="o" class="w-1/5 max-w-36" />
			<Image src={Jonny} alt="n" class="w-1/5 max-w-36" />
			<Image src={Jonny} alt="n" class="w-1/5 max-w-36" />
			<Image src={Jonny} alt="y" class="w-1/5 max-w-36" />
		</div>
		<div class="w-full max-w-prose">
			<h1 class="text-aubergine-700 xerox text-3xl md:text-4xl lg:text-7xl font-bold"> Welcome to the personal webshite of Jonny Burch</h1>
		</div>
		<div class="prose-custom">
			<Homepage />
		</div>
		<div class="w-full max-w-prose py-4">
			<PostList posts={allPosts} title="Writing, speaking, etc." />
		</div>
	</main>
</Layout>
