---
interface Props {
	title: string;
	description?: string;
}

import { getImagePath } from "astro-opengraph-images";
import { SEO } from "astro-seo";

const { title, description = "A person" } = Astro.props;
const { url, site } = Astro;

var ogImagePath = getImagePath({ url, site });
var openGraphImageUrl = ogImagePath.replace("/index", "").replace(/\.png$/, '/index.png');
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X33EKLN7L4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X33EKLN7L4');
</script>
<title>{title}</title>
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<meta name="generator" content={Astro.generator} />
<link
    rel="alternate"
    type="application/rss+xml"
    title="Jonny Burch"
    href={new URL("feed.xml", Astro.site)}
/>

<!-- Required OpenGraph meta tags -->
<meta property="og:title" content={title} />
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:image" content={openGraphImageUrl} />
<meta property="og:description" content={description} />

<SEO
  title={title}
  description={description}
  openGraph={{
    basic: {
      title: title,
      type: "website",
      image: openGraphImageUrl,
      url: url,
    },
    optional: {
      description: description,
    },
  }}
  extend={{
    link: [{rel: "icon", href: "/favicon.svg"}],
  }}
/>
