---
interface Props {
	title: string;
	href: string;
	description: string;
	draft: boolean;
	categories: string[];
  date: Date;
	redirect_to: string;
}

const { href, title, description, date, draft, categories, redirect_to } = Astro.props;

let link = redirect_to ? redirect_to : `/${href}`;
---

<li class="py-2">
		<a href={link} class="wonky">
			<p class="pb-2">
				<span class="font-display font-semibold text-3xl hover-xerox border-b-2 border-black break-words">{title}</span>
			</p>
			{description && (
				<p class="text-lg"> — {description}</p>
			)}
			<p class="text-sm opacity-50">
				{categories.length !== 0 && (
					<>
						{categories.map((category, index) => (
							`${category}${index < categories.length - 1 ? ', ' : ''}`
						))}
						<span class="pl-1">·</span>
					</>
				)}
				{date.toDateString()}
				{draft === true && (
					<span class="text-red-500">Draft</span>
				)}
			</p>
		</a>
</li>