---
interface Props {
	title: string;
	href: string;
	description: string;
	draft: boolean;
	categories: string[];
  date: date;
}

const { href, title, description, date, draft, categories } = Astro.props;
---

<li class="">
		<a href={`/${href}`} class="wonky">
			<p class="pb-2">
				<span class="font-display font-semibold text-3xl hover-xerox border-b-2 border-black break-words">{title}</span>
			</p>
			{description && (
				<p class="text-lg pb-2"> — {description}</p>
			)}
			<p class="text-sm opacity-50">
				{categories.length !== 0 && (
					<>
						{categories.map((category, index) => (
							`${category}${index < categories.length - 1 ? ', ' : ''}`
						))}
						<span class="pl-1">·</span>
					</>
				)}
				{date.toDateString()}
			</p>
			{draft === true && (
				<span class="text-red-500">Draft</span>
			)}
		</a>
</li>