---
import ExternalLinkIcon from './ExternalLinkIcon.astro';

interface Props {
	title: string;
	href: string;
	description: string;
	draft: boolean;
	categories: string[];
  date: Date;
	redirect_to: string;
}

const { href, title, description, date, draft, categories, redirect_to } = Astro.props;

let link = redirect_to ? redirect_to : `/${href}`;
---

<li class="py-2">
		<a href={link} class="wonky group not-hover-xerox flex flex-col hover:translate-x-2">
			<h3 class="">
				<span class="font-display font-semibold text-xl md:text-3xl goup:hover-xerox border-b-2 border-black break-words">{title}</span>
			</h3>
			{description && (
				<p class="text-lg"> — {description}</p>
			)}
			<p class="text-sm opacity-50">
				{redirect_to && (
					<span class="inline-block w-4 h-4 translate-y-0.5">
						<ExternalLinkIcon />
					</span>
				)}
				{categories.length !== 0 && (
					<>
						{categories.map((category, index) => (
							`${category}${index < categories.length - 1 ? ', ' : ''}`
						))}
						<span class="pl-1">·</span>
					</>
				)}
				{date.toDateString()}
				{draft === true && (
					<span class="text-red-500">Draft</span>
				)}
			</p>
		</a>
</li>