---
import PostCard from './PostCard.astro'
const { posts, title } = Astro.props;
const livePosts = posts.filter(({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;});
---

{livePosts.length !== 0 && (
  <>
    {title != null && <h2 class="text-2xl lg:text-4xl font-semibold pb-4 md:pb-8">{title}</h2>}
    <ul>
      {livePosts
        .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
        .map((post) => <PostCard title={post.data.title} date={post.data.date} href={post.slug} description={post.data.description} draft={post.data.draft} categories={post.data.categories} redirect_to={post.data.redirect_to} />)
      }
    </ul>
  </>
)}
{livePosts.length === 0 && (
  <p class="text-gray-600">Coming soon</p>
)}