---
const { frontmatter } = Astro.props;
import Layout from './Layout.astro';
---
<Layout title={frontmatter.title}>
	<main class="flex flex-col md:flex-row md:items-start flex-1 relative">
		<div class="flex flex-col md:w-[50%] flex-shrink-0 min-w-36 p-4 lg:p-12 gap-4">
      <div class="pb-4">
        <h1 class="font-display text-6xl">{frontmatter.title}</h1>
      </div>
      <p class="opacity-50 pb-4">
        {new Date(frontmatter.date).toDateString()}
        {frontmatter.categories.length !== 0 && (
          <span class="px-1">·</span>
          <span class="">
            {frontmatter.categories.map((category) => (
              {category}
            ))}
          </span>
        )}
      </p>
      <div class="prose prose-custom">
        <slot />
      </div>
    </div>
    <div class="p-4 sticky flex-grow-0 top-0 min-h-96">
      {frontmatter.images && (
        <div class="flex flex-col gap-4">
          {frontmatter.images.map((image) => (
            <img src={image.src} alt={image.alt} />
          ))}
        </div>
      )}
		</div>
  </main>
</Layout>